@import "normalize";
@import "foundation";
@import "general_foundicons";

iframe#explorer {
  width: 100%;
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}