@import "normalize";
@import "foundation";
@import "general_foundicons";
@import "magnific-popup";
@import "modal-help";
@import "highlighting";

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

p.input_help {
  font-size: 0.75rem;
  color: #666;
  margin-top: -1rem;
  float: right;
}